.second-color {
  color:#c7d2db; 
}

.blue-color {
  color:#63a6e1; 
}

.dark-background {
  background: #222;
}

body {
  height: 100%;
}

.App {
  font-family: 'Ubuntu', sans-serif;
  background-color: #c7d2db;
  height:100%;
  text-align: center;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background: #c7d2db;
  border:none;
}

.orange {
  color:#bf4d28;
}

button:hover {
  background:#bf4d28;
  color: #c7d2db;
}

.mainpage-coverphoto {
  width: 240px;
  height:400px;
}

.cover {
  background-image: url('./common/cover_photo.jpg');
  background-size: 100%; 
  width:1000px;
  height:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.covertext {
  display:inline-block;
  background-color: #222;
  color:#63a6e1; 
  width:40%;
  height:80%;
  margin-left:-550px; 
  margin-right:auto;
  margin-top:50px;
  margin-bottom:auto;
  font-size:70px;
}

.covertext-sub {
  padding:20px;
  font-size:20px;
  color:#c7d2db;
}

.h1 {
  padding: 15px;
  text-align: center;
}

.bold {
  font-weight: bold; 
}

.contact-items {
  display: inline-block;
  margin:0 auto 0 auto; 
  text-align:center;
  align-content: center;
  width: 92%;
}

.contactitem{
  float:left;
  padding-left: 30px;
  padding-right: 30px; 
  padding-bottom: 30px; 
  width: 10%;
}

.element { 
  width: 100px; 
  height: 100px;
  border-radius: 10px;
}


.column {
  display:flex;
  flex-direction:column;
  width: 25%;
  margin: 0 auto;
}

.footer-name {
  display: block;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  display:block; 
}

.block.footermark {
  padding-left: 15px; 
}

.contactitem.small {
  padding: 10px;
  display: inline-block;
  width: 30%;
}

.footerlogo{
  width: 300px; 
  padding:15px;
  padding-left: 0px;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Team-Header {
  font-size: 70px; 
  text-align: center;
  padding: 10px;
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

.People {
  display: inline-block;
  width:80%;
  margin:0 auto; 
  padding-bottom: 30px;
}

.Person {
  width: 17%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  display: block;
  float: left;
  min-width: 150px; 
  max-width: 200px; 
}


.person-img {
  height: 30px;
  width: 30px; 
  float: left;
}

.person-img:hover {
  border-radius: 50%;
  border-style: solid; 
  border-width: 2px; 
  border-color: #bf4d28;
  height: 26px; 
  width: 26px;
}

.person-item {
  text-align:center;
  padding-top: 10px;
}

.person-contact-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.person-contact-item {
  float: left;
  padding: 10px;
}

.person-title {
  font-size: 12px;
}

.profile {
  height: 120px; 
  width: 120px; 
  border-radius: 50%;
}

.person-name {
  font-size: 16px;
}

.big-icons {
  height: 30px;
  width: 30px;
}

.big-profile {
  border: solid 2px #bf4d28;
  height: 116px; 
  width: 117px;
}

.mainpage-coverphoto {
  width: 240px;
  height:400px;
}

.Team-Header {
  background-size: 100%; 
  width:70%;
  height:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.team-cover-text {
  width: 70%;
  display:inline-block;
  background-color: none;
  color:#bf4d28; 
  padding-top: 30px; 
  padding-bottom: 30px;
  margin-left:auto; 
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  font-size:50px;
}

.coverphototeam {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  -webkit-transition: hidden 5s; /* Safari */
  transition: hidden 5s;
}

.Carousel-div {
  box-sizing: content-box;
  width: 800px;
  margin: 0 auto; 
  padding: 30px;
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #c7d2db !important;
}

.carousel .slide { 
  height: 530px;
  background-color: #c7d2db;
}

.carousel .slide .legend, .control-arrow {
  background: #bf4d28 !important;
  color: #c7d2db !important;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid #bf4d28  !important;
}

.team-photo-text {
  font-size: 25px; 
}

@media only screen and (max-width: 1300px) {
  .Person {
    width: 25%; 
  }
}

@media only screen and (max-width: 1200px) {
  .Carousel-div {
    width: 600px;
  }

  .carousel .slide { 
    height: 380px;
  }
}

@media only screen and (max-width: 900px) {
  .People {
    width: 60%; 
  }

  .Person {
    width: 17%; 
  }

  .team-cover-text {
    font-size: 30px; 
    width: 60%; 
  }

  .Carousel-div {
    width: 400px;
  }

  .carousel .slide { 
    height: 260px;
  }

  .team-photo-text {
    font-size: 20px; 
  }
}

@media only screen and (max-width: 700px) {
  .Carousel-div {
    width: 300px;
  }

  .carousel .slide { 
    height: 190px;
  }

  .legend{
    visibility: hidden !important; 
  }
}

